In [ ]:
#Introduction to Python programming

In [ ]:
#Variables in python:

In [1]:
x = 2
y = 3

In [2]:
z = x+y
print(z)

5

In [3]:
#Rules for declaring variables in python
#1) No Namespaces while declaring variables.
#2) variable name should not start with number.
#3) variable should not contain any special char.

In [4]:
# wrong variables = 1name, name@, first name

In [5]:
#introduction to Data Types in Python.

In [7]:
# 1. strings
# 2. Numbers =====> integers and floats
# 3. list 
# 4. tuple
# 5. Dictionaries

In [8]:
# Classification of data types

In [9]:
# 1. Mutable datatypes: which we can able to edit and alter ====> flexible in nature
# 2. Immutable datatypes : which cannot be edited or alter ====> fixed  in nature

In [10]:
# Def : A string is a series of characters declared in quotes.
#     it is classified as immutable datatype.

# define string in syntax : 1. single quote ' '  2. double quotes " "

In [11]:
name = 'Tanvir'
print(name)

Tanvir

In [12]:
# introduction to string methods(formules) : 
# 1. type method: use to check datatype.

In [13]:
type(name)

str

In [14]:
fname = "tanvir attar"
print(fname)

tanvir attar

In [ ]:
# Tilte method : correct first capital letter.

In [15]:
print(fname.title())

Tanvir Attar